<h1><%= @card.deck.name %> Deck</h1>
<h3><%= @card.front %></h3>

<%= form_for deck_card_result_path(@card.deck_id, @card.id),
  url: "/decks/#{@card.deck_id}/cards/#{@card.id}/result" do |form| %>
  <div>
    <%= form.label :back %>
    <%= form.text_field :back %>
  </div>
  <%= form.submit "Submit Answer" %>
<% end %>
